@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container */
.NavContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}



/* Style dropdown */
.dropdown {
  display: flex;
  flex-direction: column;
  transform-origin: top; /* Sets the origin of the transform */
  transform: scaleY(0); /* Scales the dropdown to be completely flat */
  height: auto; /* Adjust the height as needed for your content */
  opacity: 0; /* Start with dropdown transparent */
  overflow: hidden; /* Ensures content is not visible when scaled down */
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(61, 61, 61);
  z-index: 1000;
  transition: transform 0.4s ease, opacity 0.5s ease; /* Transition for transform and opacity */
}

.dropdown.open {
  transform: scaleY(1); /* Scales the dropdown to its full height */
  opacity: 1; /* Fade in to full opacity */
}

.dropdown a {
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  /* color: white; */
  border: none;
  box-shadow: 0 0 0.5px white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding-left: 15px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: rgb(29, 17, 19);
  letter-spacing: 2px;
  box-shadow: 0 0 1px white;
}

.logoStyle {
  text-align: left;
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  margin-top: 20px;
  font-family: "Rochester", cursive;
  font-size: 2rem;
  font-weight: 800;
  font-style: normal;
}

.menu-button {
  text-align: right;
  background: none; 
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 2%;
}

.icon {
  color: rgb(29, 17, 19);
  font-size: 40px;
  /* font-weight: 800; */
}

@media screen and (max-width: 767px) {
  .NavContainer {
    flex-wrap: wrap;
  }
}

/* Hide menu button for larger screens and adjust page button visibility */
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .page-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
}

/* Page buttons for larger screens */
.page-buttons {
  display: none; /* Hide on smaller screens */
}

@media screen and (min-width: 768px) {
  .page-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
}

/* Content */
.content {
  /* Style your content here */
}

.active {
  color: red; /* Highlight the active navigation link */
}

.dropdown a {
  /* color: white; */
}


/* Footer */
.footerContainer {
  position: absolute;
  bottom: 8px;
  right: 2%;
}